<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <div class="container" fxLayout="row" fxLayoutAlign="center none">
      <h2>Welcome back!</h2>
    </div>

    <div class="container" fxLayout="row" fxLayoutAlign="center none">
      <div fxFlex="50%" class="text-center animate">
        <form class="form" #flashForm="ngForm">
          <h1>{{editing ? 'Update':'Add New'}} Question</h1>
          <mat-form-field class="full-fields">
            <mat-label>Question</mat-label>
            <input matInput placeholder="Ex. New version Angular?" name="question" [(ngModel)]="questionState.question"
              #question required />
          </mat-form-field>
          <mat-form-field class="full-fields">
            <mat-label>Answer</mat-label>
            <input matInput placeholder="Ex. version 11" name="answer" [(ngModel)]="questionState.answer" #answer required />
          </mat-form-field>
          <section>
            <button *ngIf="editing; else bntSubmit" mat-raised-button color="accent" (click)="handleUpdate()" type="submit" [disabled]="flashForm.invalid">Update</button>
            <ng-template #bntSubmit>
              <button mat-raised-button color="accent" (click)="handleSubmit()" type="submit" [disabled]="flashForm.invalid">Submit</button>
            </ng-template>
            <button *ngIf="editing; else btnClear" mat-raised-button (click)="handleCancel()">Cancel</button>
            <ng-template #btnClear>
              <button mat-raised-button (click)="handleClear()">Clear</button>
            </ng-template>
            
          </section>
        </form>
        <!-- <section style="text-align: start;">
          <pre>
            {{question | json}}
          </pre>
        </section> -->
        <div class="flashs">
          <app-question-card *ngFor="let item of questions; trackBy: trackByQuestionId" [question]="item"
            (oToggleCard)="handleToggleCard($event)" (oDelete)="handleDelete($event)" (oEdit)="handleEdit($event)"
            (oRememberedChange)="handleRememberedChange($event)"></app-question-card>
        </div>
      </div>
    </div>
  </div>
</div>