<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <div class="container" fxLayout="row" fxLayoutAlign="center none">
      <h2>Welcome back!</h2>
    </div>

    <div class="container" fxLayout="row" fxLayoutAlign="center none">
      <div fxFlex="50%" class="text-center animate">
        <form class="form">
          <h1>Add New Question</h1>
          <mat-form-field class="full-fields">
            <mat-label>Question</mat-label>
            <input
              matInput
              placeholder="Ex. New version Angular?"
              name="question"
              [(ngModel)]="question"
              required
            />
          </mat-form-field>
          <mat-form-field class="full-fields">
            <mat-label>Answer</mat-label>
            <input
              matInput
              placeholder="Ex. version 11"
              name="answer"
              [(ngModel)]="answer"
              required
            />
          </mat-form-field>
          <section>
            <button mat-raised-button color="primary">Submit</button>
            <button mat-raised-button>Clear</button>
          </section>
        </form>
        <div class="flashs">
          <app-question-card
            *ngFor="let flash of flashs; trackBy: trackByFlashId"
            [question]="flash"
            (onToggleCard)="handleToggleCard($event)"
            (onDelete)="handleDelete($event)"
            (onEdit)="handleEdit($event)"
            (onRememberedChange)="handleRememberedChange($event)"
          ></app-question-card>
        </div>
      </div>
    </div>
  </div>
</div>
