.flashs {
  display: flex;
  flex-wrap: wrap;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-bottom: 16px;
}

.full-fields {
  width: 100%;
}

section button {
  margin-right: 8px;
}

mat-form-field.ng-valid {
  color: #eee
}
mat-form-field.ng-invalid {
  color: #ec1e0f;
}