.card {
  width: 300px;
}

.mat-card {
  padding: 0px !important;
  margin-bottom: 16px;
  margin-right: 16px;
}


.mat-card-header {
  padding-top: 16px !important;
}

.mat-card-header.correct {
  background: #51be51;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.mat-card-header.incorrect {
  background: #ec1e0f;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.mat-card-header.correct .mat-icon,
.mat-card-header.incorrect .mat-icon {
  color: #eee;
}

.mat-card-content {
  padding: 16px;
  margin: 0;
  text-align: center;
  border-top: 1px solid rgba(105, 105, 105, 0.5);
  border-bottom: 1px solid rgba(105, 105, 105, 0.5);
}

.mat-card-actions {
  margin: 0 !important;
  display: flex !important;
  justify-content: space-around !important;
}

.mat-card-actions > .mat-button {
  margin: 0 !important;
}