<mat-card class="card">
  <mat-card-header [ngClass]="question.remembered">
    <mat-card-title>{{ question.question }}</mat-card-title>
    <mat-card-subtitle>Verdadeiro ou Falso</mat-card-subtitle>
    <span style="margin: auto"></span>
    <button mat-icon-button aria-label="open card" (click)="toggleCard()">
      <mat-icon color="accent" *ngIf="!question.show">arrow_drop_down</mat-icon>
      <mat-icon color="accent" *ngIf="question.show">arrow_drop_up</mat-icon>
    </button>
  </mat-card-header>
  <div *ngIf="question.show">
    <mat-card-content>
      <p>{{ question.answer }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="markCorrect()"><mat-icon>done</mat-icon></button>
      <button mat-button (click)="markIncorrect()"><mat-icon>clear</mat-icon></button>
      <button mat-button (click)="editQuestion()"><mat-icon>edit</mat-icon></button>
      <button mat-button (click)="deleteQuestion()"><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
  </div>
</mat-card>
