
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.full-width {
  width: 100%;
}

.container {
  margin: 10px;
}

.spinner {
  left: 49%;
  position: fixed !important;
  top: 15%;
  z-index: 9999;
}

// .mat-list-item,
// .mat-menu-item {
//   font-size: 14px !important;
// }


.animate {
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.mat-card {
  margin-bottom: 16px;
}

.mat-card-content {
  padding: 16px;
  margin: 0;
  text-align: center;
  border-top: 1px solid rgba(105, 105, 105, 0.5);
  border-bottom: 1px solid rgba(105, 105, 105, 0.5);
}